html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol {
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: square;
}
a {
	text-decoration: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




ul {
  list-style-type: none;
}
* {
	box-sizing:border-box;
}
body {
  display: flex;
  flex-flow: column;
  width: 100%;
  font-family: 'Jomolhari', serif;
	box-sizing: border-box;
	align-items: center;
	background-color: rgba(240, 240, 245, 0.5);
}

h1 {
  font-size: 3em;
  text-align: center;
  color: rgb(128, 223, 255);
  margin-top: 25px;
	padding-bottom: 15px;
	text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}
.enterTask {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 0 10px;
}
.header {
	width: 100%;
	text-align: center;
	padding-bottom: 5px;
	position: fixed;
	top: 0;
	z-index: 6;
	background-color: rgb(240, 240, 245);
	opacity: 0.97;
}
input {
	border: none;
	padding-left: 5px;
	font-family: 'Josefin Sans', sans-serif;
}
.forInput {
	display: flex;
	justify-content: center;
	width: 100%;
}
#myInput {
  width: 100%;
  font-size: 1.7em;
	padding-bottom: 6px;
	font-weight: 300;
  border-radius: 25px;
	background-color: white;
}
.addBtn {
  font-size: 1.5em;
  border-radius: 50%;
	width: 2%;
	margin-top: 25px;
  color: rgba(255, 255, 255, 0.7);
  background-image: linear-gradient(#808080, #d1d1e0);
	text-align: center;
	vertical-align: bottom;
	margin-left: 3px;
  text-shadow: 1px 2px 4px black;
  font-weight: 300;
	padding-bottom: 3px;
	cursor: pointer;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  position: absolute;
	z-index: 3;
	top: 80px;
	right: 25px;
}
.addBtn:hover {
  box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 3px 4px 5px black;
}
.addBtn:active {
  box-shadow: inset 0 0 12px 3px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 3px 4px 7px white;
  font-weight: 600;
}
::placeholder {
	color: #5959a6;
	opacity: 0.3;
}
#myUl {
	display: flex;
	flex-flow: column;
	font-size: 1.7em;
	width: 90%;
	position: relative;
	top: 200px;
}
li {
	padding: 10px 50px 10px 10px;
	cursor: pointer;
	position: relative;
	word-spacing: 7px;
	font-weight: 200;
  opacity: 1;
	margin-bottom: 15px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	text-align: center;
	color: rgba(0, 0, 0, 0.6);
	border-radius: 25px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	background-color: white;
	display: flex;
	justify-content: space-between;
}

input:hover {
	background-color: #ddd;
}
li.checked {
	color: rgba(0, 0, 0, 0.3);
	text-decoration: line-through;
	opacity: 0.6;
	transition: 0.5s;
}

li.checked::before {
	content: '';
	position: absolute;
	border-color: #3366cc;
	border-style: solid;
	border-width: 0 2px 2px 0;
	left: 20px;
	top: 15px;
	transform: rotate(45deg);
	height: 15px;
	width: 7px;
}

.close {
	position: absolute;
	right: 0;
	top: 0px;
	padding: 10px 10px;
	border-radius: 7px 25px 25px 7px;

}
.close:hover {
	background-color: #f44336;
	color: white;
}
.update {
	position: absolute;
  right: 48px;
	bottom: 2px;
	padding: 7px 5px;
	border-radius: 5px;
}
.update:hover {
	background-color: #00e68a;
}
.date {
font-size: 0.5em;
position: relative;
top: 10px;
right: 20px;
margin-left: 10px;
}
.task {
	font-size: 1em;
	width: 80%;
	border-radius: 20px;
	background-color: white;
	padding-left: 10px;
	margin-left: 15px;
	margin-right: 15px;
}
input {
	outline: none;
}
.save {
	font-size: 0.9em;
	text-shadow: 1px 1px 2px rgba(0, 204, 255, 0.5);
	transition: 0.5s;
}
.save:hover {
background-color: #00e68a;
border-radius: 5px;
}
.circle {
position: absolute;
left: 10px;
font-family: font-awesome;
}
@media (max-width: 738px) {
	h1 {
		font-size: 2em;
		margin-right: -40px;
	}
	.save {

	}
	#myUl {
		font-size: 1.3em;
    margin-left: -20px;
		width: 100%;
	}

	.header {
		margin-left: 0px;
	}
	h1 {
		margin-left: -50px;
	}
	.addBtn {
   right: 8px;
   font-size: 1.5em;
	 width: 10%;
	 top: 57px;
	 padding-bottom: 8px;
	 padding-top: 3px;
	}
	.close {
		right: 0;
	}

	.date {
   right: 5px;
	}
	.update {
		right: 25px;
	}

}
